<div *ngIf="loaded; else templateName">

  <h1 *ngIf="!vizs; else noViz" class=' centerText '> No hay Visualizaciones</h1>

  <ng-template #noViz>
    <mat-grid-list cols="4" rowHeight="250px">
      <mat-grid-tile *ngFor="let viz of vizs">
        <div class="container">
          <img src={{thumbnail(viz.img)}} class="image" style="width:100%">
          <div class="middle">
            <button mat-raised-button (click)='ver(viz)' color="primary">Ver</button>
          </div>
          <span class=' centerTitle '>{{viz.nombre}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>

  <button mat-fab class="app-fab" [routerLink]="['/home/stepper']">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #templateName>
  <mat-spinner style="margin: auto;" mode="indeterminate"></mat-spinner>
</ng-template>
