<div *ngIf="loaded; else templateName">

  <h1 *ngIf="!vizs; else noViz" class=' centerText '> No hay Visualizaciones</h1>



  <ng-template #noViz>
    <mat-grid-list cols="4" rowHeight="500px">
      <mat-grid-tile *ngFor="let viz of vizs">
          <mat-card class="example-card">
            <img mat-card-image src={{thumbnail(viz.img)}} alt="VizThumbnail">
            <mat-card-content>
              <p>
                {{viz.nombre}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)='ver(viz)' color="primary">Ver</button>
            </mat-card-actions>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>

  <button mat-fab class="app-fab" [routerLink]="['/visualizer/home/stepper']">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #templateName>
  <mat-spinner style="margin: auto;" mode="indeterminate"></mat-spinner>
</ng-template>
