<mat-horizontal-stepper #stepper linear>
  <mat-step>

    <ng-template matStepLabel>Selecciona las bases de datos</ng-template>
    <h2 class="example-h2">Bases de datos</h2>
    <mat-form-field class="example-filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource">


      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let database"> {{database.nombre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
        <mat-cell *matCellDef="let database"> {{database.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="campos">
        <mat-header-cell *matHeaderCellDef> Campos </mat-header-cell>
        <mat-cell *matCellDef="let database">
          <ul>
            <li *ngFor="let campo of database.campos">
              {{campo.nombre}} : {{campo.tipo}}
            </li>
          </ul>
        </mat-cell>

      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <div>
      <button mat-raised-button color="primary" mat-button (click)="firstStepCheck(stepper)">Siguiente</button>
    </div>


  </mat-step>
  <mat-step>
    <h2 class="example-h2">Preprocesamiento</h2>
    <form [formGroup]="preprocesamientoForm">
      <div formArrayName="itemRows">
        <div *ngFor="let row of itemRows.controls; let i=index" [formGroupName]="i">
          <h4>{{this.selection.selected[i].nombre}}</h4>
          <span class="form-group">
            <mat-form-field>
              <mat-select placeholder="Pivotar" formControlName='pivot'>
                <mat-option>No pivotar</mat-option>
                <mat-option *ngFor="let field of classFields(this.selection.selected[i].campos)" value='{{field.nombre}}' >
                  {{field.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngIf="preprocesamientoForm.controls.itemRows.controls.length > 1">
              <mat-form-field>
                <mat-select placeholder="Join" multiple>
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </span>
        </div>
      </div>
    </form>
    {{preprocesamientoForm.value|json}}
    <div>
      <button mat-raised-button color="warn" mat-button matStepperPrevious>Atras</button>

      <button mat-raised-button color="primary" mat-button matStepperNext>Siguiente</button>

    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-raised-button color="warn" mat-button matStepperPrevious>Atras</button>


    </div>
  </mat-step>
</mat-horizontal-stepper>
