<div class="example-container">
  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">Datavisualizer</span>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav" color="primary">

    <mat-sidenav #sidenav mode="side" layout="vertical" class="example-sidenav">
      <mat-toolbar>
        <mat-toolbar-row>
          <a [routerLink]="['/visualizer/home/imagegrid']">
            <span>Visualizaciones</span>
            <span class="app-toolbar-filler"></span>
            <mat-icon class="example-icon">image</mat-icon>
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <a [routerLink]="['/visualizer/home/userdata']">

            <span>Datos del usuario</span>
            <span class="app-toolbar-filler"></span>
            <mat-icon class="example-icon">account_circle</mat-icon>
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <a [routerLink]="['/visualizer/home/databases']">

            <span>Bases de datos</span>
            <span class="app-toolbar-filler"></span>
            <mat-icon class="example-icon">archive</mat-icon>
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf='isAdmin()'>
          <a [routerLink]="['/visualizer/home/adminpanel']">
            <span>Panel de administración</span>
            <span class="app-toolbar-filler"></span>
            <mat-icon class="example-icon">settings</mat-icon>
          </a>
        </mat-toolbar-row>


        <mat-toolbar-row>
          <button mat-raised-button color="warn" class="app-sidebar-button" (click)="logout()">
            <mat-icon class="example-icon">power_settings_new</mat-icon>
            Salir
          </button>
        </mat-toolbar-row>


      </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
