<mat-toolbar color="primary">
  <span class="title">Datavisualizer</span>
</mat-toolbar>

<mat-card>
  <mat-card-content>

    <form class="example-container" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" accept-charset="UTF-8" role="form">
      <h2 class="example-h2">Login</h2>
      <mat-form-field>
        <input matInput placeholder="Nombre" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" email
          required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña" name="password" type="password" value="" #password="ngModel" [(ngModel)]="user.password"
          required>
        <mat-icon matSuffix>visibility</mat-icon>
      </mat-form-field>
      <button type='submit' class="app-button" mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    </form>

  </mat-card-content>
<button class="app-button" mat-raised-button color="primary" [routerLink]="['/visualizer/register']">Registrate</button>

</mat-card>
