<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="yourmail@example.com" type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
                  email required>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Contraseña" name="password" type="password" value="" #password="ngModel" [(ngModel)]="user.password"
                  required>
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" [disabled]="!loginForm.form.valid">
            </fieldset>
          </form>
          <div class="alert alert-danger" *ngIf="status !=''">
            {{status}}
          </div>

          <hr/>
          <a [routerLink]="['/register']">Registrate</a>
        </div>

      </div>
    </div>
  </div>
</div>
