<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

          <h3 >Datos usuario</h3>
        <div class="panel-body">
          <form #userdataForm="ngForm" (ngSubmit)="onSubmit(userdataForm)" accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" name="name" placeholder="Nombre" type="text" #name="ngModel" [(ngModel)]="user.name" minlength="3"
                  required>
                <div class="alert alert-danger" *ngIf="!name.valid && (name.dirty || name.touched)">
                  <div *ngIf="name.errors.required">
                    El nombre es obligatorio
                  </div>
                  <div *ngIf="name.errors.minlength">
                    El nombre tiene que tener como minimo 3 caracteres
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" placeholder="yourmail@example.com" type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
                  email required asyncEmailValidator actualEmail=true>
                <div class="alert alert-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors?.required">
                    El email es obligatorio
                  </div>
                  <div *ngIf="email.errors?.email">
                    Email incorrecto
                  </div>
                  <div *ngIf="email.errors?.asyncInvalid">
                    El email ya esta registrado
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Contraseña</label>
                <input type="password" placeholder="Contraseña" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password"
                  validateEqual="confirmPass" reverse="true">
                <div class="alert alert-danger" *ngIf="!password.valid && (password.dirty || password.touched)"> Contraseña obligatoria</div>
              </div>
              <div class="form-group">
                <label>Repita la contraseña</label>
                <input class="form-control" placeholder="Repite la contraseña" name="confirmPass" type="password" #confirmPass="ngModel"
                  [(ngModel)]="confirmPassword" validateEqual="password" reverse="false" >
                <div class="alert alert-danger" *ngIf="!confirmPass.valid && (confirmPass.dirty || confirmPass.touched)">
                  Las contraseña no coincide
                </div>
              </div>
              <input class="btn btn-lg btn-primary btn-block" type="submit" value="Modificar Datos" [disabled]="!userdataForm.form.valid">
            </fieldset>
            <div class="alert alert-success" *ngIf="status =='success'">
              Los datos han sido modificados correctamente
            </div>
            <div class="alert alert-danger" *ngIf="status =='error'">
              Error al modificar los datos
            </div>

          </form>
          <hr/>
        </div>
    </div>
  </div>
</div>